html {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

@font-face {
    font-family: "Raleway Light";
    src: url('media/fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: "Liberation Sans";
    src: url('media/fonts/LiberationSans-Regular.ttf');
}

#top-placeholder {
    background:#566987;
    height: 15px;
    padding: 10px;
    margin: -10px;
    z-index:-1;
}

.topbar-right {
    top:5px;
    right:0;
    position:absolute;
    margin-right:1vw;
}

#topbar {
    background: #566987;
    margin: -10px;
    padding: 30px;
    font-size: clamp(8pt, 1vw, 50pt);
    font-family: Arial;
    position: sticky;
    top:-1px;
    z-index:2;
    display:flex;
}

.topbar-link {
    color:white;
    margin-left: clamp(1px, 2vw, 50px);
    outline: 0px solid #000000;
}
.topbar-link:hover {
    color:#cacaca;
}

#title {
    animation: title-anim 1.6s ease 0s 1 normal forwards;
    position:relative;
    z-index:1;
    font-size: clamp(10pt, 8vw, 90pt);
    font-family: "Liberation Sans";
    margin: 10px -300px 10px -300px;
    text-align:center;
    padding: calc(50px + 5vw) 0px calc(50px + 5vw) 0px;
    background-image: url("media/vectorgraphics/brain.svg");
    background-position:50%;
    background-size:30%;
    background-repeat: repeat-x;
}

h1.graybar-caption {
    font-family: "Liberation Sans";
    color: white;
    font-size: clamp(10pt, 5vw, 50pt); 
    width:20%;
    margin-left:0.5vw;
    
}
p.graybar-caption {
    font-family: "Liberation Sans";
    color: white;
    font-size: clamp(7pt, 2vw, 20pt); width:45%;
}

#graybar {
    flex-direction: row;
    position:relative;
    justify-content:space-evenly;
    display: flex;
    place-items: center;
    background:#6969aa;
    height: clamp(70px, 40vw, 400px);
    margin: -10px;
    padding-left:20px;
    padding-right:20px;
    text-shadow: #48abe0 0 0 0px;
    box-shadow: 0 0 0px 0px #48abe0;
}

#placeholder2 {
    height:1vw;
    background: #1040aa;
    padding:10px;
    margin:-10px;
    z-index:-1;
}

#meetandcatch {
    font-family: "Liberation Sans";
    text-align:center;
    padding:10px;
    font-size:clamp(5pt, 5vw, 50pt);
    background:#47acd7;
    margin:-30px;
    margin-top:10px;
}

.mclink:link {
    color:#bbf3ff;
}

.mclink:visited {
    color:white;
}

.mclink:hover {
    color:#530b63;
}

@keyframes title-anim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

    60% {
        color:black;
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        color:white;
    }
}

#about {
    animation: about-anim 1.6s ease 0s 1 normal forwards;
    position: relative;
    z-index: 1;
    font-size: 8vw;
    font-family: "Liberation Sans";
    text-align: center;
    color:#fff;
}

#members {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400 , 1fr));
    column-gap:1vw;
    row-gap:1vw;
    width:90%;
    margin: 0 auto;
    position: relative;
    background: #6969aa;
    padding: 20px;
    border-radius:12px;
}

.gridtext-div {
    background-color:#fff;
    border-radius: 15px;
    min-height: 250px;
    border: 2px solid;
    position:relative;
}
.gridtext-name {
    font-family: "Liberation Sans";
    margin-left: 10px;
}
.gridtext-role {
    font-family: 'Raleway Light';
    margin-left: 10px;
    margin-bottom: -20px;
}
.gridtext-desc {
    font-family: 'Raleway Light';
    margin-left:10px;
    max-width:40%;
}
.gridtext-img {
    margin-left: auto;
    max-width:40%;
    max-height:90%;
    position:absolute;
    right:10px;
    top:10px;
    border-radius:10px;
}

@keyframes about-anim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

    60% {
        opacity: 1;
        transform: translateX(0px);
    }
}