html {
    overflow-x: hidden;
}

@font-face {
    font-family: "Liberation Sans";
    src: url('LiberationSans-Regular.ttf');
}

.top-placeholder {

}

.graybar {
    flex-direction: row;
    justify-content:space-evenly;
    display: flex;
    place-items: center;
    background:#696969;
    height: 400px;
    margin: -10px;
    padding-left:20px;
    padding-right:20px;
    text-shadow: #48abe0 0 0 0px;
    box-shadow: 0 0 0px 0px #48abe0;
}

.graybar-caption {
    font-family: "Liberation Sans";
    color: white;
}

.topbar {
    background: #566987;
    margin: -10px;
    padding: 20px;
    font-size: 15pt;
    font-family: Arial;
}

.topbar-link {
    color:white;
    margin-left:40px;
    outline: 0px solid #000000;
}
.topbar-link:hover {
    color:#cacaca;
}

#title {
    animation: title-anim 1.6s ease 0s 1 normal forwards;
    font-size: 90pt;
    font-family: "Liberation Sans";
    margin:10px;
    margin-left:-300px;
    margin-right:-300px;
    text-align:center;
    padding-top:100px;
    padding-bottom:100px;
    background-image: url("brain.svg");
    background-position:50%;
    background-size:30%;
    background-repeat: repeat-x;
}

@keyframes title-anim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

    60% {
        color:black;
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        color:white;
    }
}
