html {
    overflow-x: hidden;
}

@font-face {
    font-family: "Liberation Sans";
    src: url('LiberationSans-Regular.ttf');
}

#top-placeholder {
    background:#566987;
    height: 15px;
    padding: 10px;
    margin: -10px;
    z-index:-1;
}

.topbar-right {
    top:5px;
    right:0;
    position:absolute;
    margin-right:70px;
}

#topbar {
    background: #566987;
    margin: -10px;
    padding: 30px;
    font-size: 15pt;
    font-family: Arial;
    position: sticky;
    top:-1px;
    z-index:2;
    display:flex;
}

.topbar-link {
    color:white;
    margin-left:40px;
    outline: 0px solid #000000;
}
.topbar-link:hover {
    color:#cacaca;
}

#title {
    animation: title-anim 1.6s ease 0s 1 normal forwards;
    position:relative;
    z-index:1;
    font-size: 90pt;
    font-family: "Liberation Sans";
    margin:10px;
    margin-left:-300px;
    margin-right:-300px;
    text-align:center;
    padding-top:100px;
    padding-bottom:100px;
    background-image: url("brain.svg");
    background-position:50%;
    background-size:30%;
    background-repeat: repeat-x;
}

.graybar-caption {
    font-family: "Liberation Sans";
    color: white;
}

#graybar {
    flex-direction: row;
    position:relative;
    justify-content:space-evenly;
    display: flex;
    place-items: center;
    background:#6969aa;
    height: 400px;
    margin: -10px;
    padding-left:20px;
    padding-right:20px;
    text-shadow: #48abe0 0 0 0px;
    box-shadow: 0 0 0px 0px #48abe0;
}

#placeholder2 {
    height:20px;
    background: #1040aa;
    padding:10px;
    margin:-10px;
    z-index:-1;
}

#meetandcatch {
    font-family: "Liberation Sans";
    text-align:center;
    padding:10px;
    font-size:50px;
    background:#47acd7;
    margin:-30px;
    margin-top:10px;
}

.mclink:link {
    color:#ababff;
}

.mclink:visited {
    color:white;
}

.mclink:hover {
    color:#000;
}
@keyframes title-anim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

    60% {
        color:black;
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        color:white;
    }
}
